[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
langchain-community = "*"
langchainhub = "*"
black = "*"
python-dotenv = "*"
langchain-ollama = "*"
setuptools = "*"
tweepy = "*"
flask = "*"
langchain = "*"
langchain-openai = "*"

[dev-packages]

[requires]
python_version = "3.13"
